# This will prevent tls
tls off

# Super basic logging
errors /var/log/caddy_errors.log
log    /var/log/caddy_log.log

# NOTE: hard-coding a name for the container up here
proxy / http://shiny:3838 {
    transparent
    websocket
}

# Secure with webtoken
jwt {
  path /
  # This will work for Rich to login, but is obviously not ideal!
  # allow roles */user,*/reports-reviewer,*/reports-reader
  publickey /public_key.pem
  allowroot
}
