# Bind to port 80 only so that we don't get https set up
:80
tls off

# Super basic logging
errors /var/log/caddy_errors.log
log    /var/log/caddy_log.log

# NOTE: hard-coding a name for the container up here
proxy / http://shiny:3838 {
    transparent
    websocket
}

# Secure with webtoken
jwt {
    path /
    allow allowed_shiny true
    publickey /public_key.pem
}
